<!--
  recherche.html.twig
  Fichier html pour recherche.php
!-->
<div class="container">
	<div class="text-center mt-5 mb-5">
		<h1>Rechercher un articles</h1>
	</div>

	<div class="row mb-5">
		<form id="" method="GET" action="recherche.php">
			<div class="col-12">
				<input type="text" class="form-control" name="search" value="" placeholder="Mot clé....">
			</div>
			<div class="col-12 mt-4 text-center">
				<button type="submit" id="submit" value="recherche" class="btn btn-primary">Rechercher</button>
			</div>
		</form>
	</div>

	<div class="row">
		{% for articles in listeArticles %}
			<div class="col-6 mb-4">
				<div class="card">
					<img class="card-img-top" src="img/{{ articles.getID}}.jpg" style="max-width: 100px;" alt="{{ articles.getTitre}}">
					<div class="card-body">
						<h5 class="card-title">{{ articles.getTitre}}</h5>
						<p class="card-text">{{ articles.getTexte}}</p>
						<a class="btn btn-primary">{{ articles.getDate}}</a>
						<a href="articles.php?id={{ articles.getID}}" class="btn btn-warning">Modifier</a>
					</div>
				</div>
			</div>
		{% endfor %}
	</div>
</div>
